*{
    margin: 0%;
    padding: 0%;
}

.grid{
    display: grid;
    grid-template-columns: repeat(30, 1fr);  
    grid-template-rows: repeat(30, 1fr);
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(blue, white);
}

button{
    background-color: white;
    border-radius: 100%;
}

.peng-body{
    grid-row: 10/31;
    grid-column: 5/15;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
    border: 2px solid white;
    border-top-right-radius: 25%;
    border-top-left-radius: 25%;
    background-color: #323639;
}

.eye-r{
    grid-row: 2;
    grid-column: 4;
    height: 5em;
    border: 5px solid white;
    background-color: black;
}

.eye-r:hover{
    transition: ease-in-out 2s;
    background-image: linear-gradient(black, rgb(51, 50, 50));
}

.nose{
    width: 100%;
    grid-row: 3;
    grid-column: 3;
    height: 3em;
    background-color: rgb(255, 123, 0);
    border: 5px solid black;
}

.eye-l{
    grid-row: 2;
    grid-column: 2;
    border: 5px solid white;
    background-color: black;
}

.eye-l:hover{
    transition: ease-in-out 2s;
    background-image: linear-gradient(black,rgb(51, 50, 50));
}


.belly{
    background-image: linear-gradient(orange 25%, white 75%);
    grid-row: 2/21;
    grid-column: 5/15;
    border-top-left-radius: 43%;
    border-top-right-radius: 43%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

.orange{
    grid-column: 2/7;
    grid-row: 1/3;
    background-image: linear-gradient(orange, white);
    border-top-left-radius: 47%;
    border-top-right-radius: 47%;
}

.neck_seperator{
    grid-row: 9;
    grid-column: 1/21;
}

.beak{
    color: black;
}

.left-flipper{
    background-color: #323639;
    grid-row: 12/27;
    grid-column: 14/18;
    border-top-right-radius: 75%;
    border-bottom-left-radius: 77%;
}

.left-flipper:hover{
    transform: rotate(-15deg);
    transition: 2s ease-in-out;
}

.right-flipper{
    background-color: #323639;
    grid-row: 12/27;
    grid-column: 2/6;
    border-top-left-radius: 85%;
    border-bottom-right-radius: 77%;
}

.right-flipper:hover{
    transform: rotate(15deg);
    transition: 2s ease-in-out;
}

.peng-head{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-row: 1/10;
    grid-column: 4/14;
    background-color: #323639;
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 25%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom: 10px solid orange;
}

.peng-head:hover{
    transition: ease-in-out 2s;
    transform: rotate(10deg);
   
}

.pen-foot-left{
    grid-row: 17/21;
    grid-column: 12/20;
    background-color: orange;
    text-align: center;
    font-size: xx-large;
    font-weight: 900;
}

.pen-foot-left:hover{
    transition: ease-in-out 1s;
    transform: rotate(10deg);
}

.pen-foot-right{
    grid-row: 17/21;
    grid-column: 2/10;
    background-color: orange;
    text-align: center;
    font-size: xx-large;
    font-weight: 900;
}

.pen-foot-right:hover{
    transition: ease-in-out 1s;
    transform: rotate(10deg);
}

.peng-body{
    grid-row: 10/31;
    grid-column: 5/15;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
    border: 2px solid white;
    border-top-right-radius: 25%;
    border-top-left-radius: 25%;
    background-color: #323639;
}

.dot{
  height: 5px;
  width: 5px;
  background-color: rgb(255, 243, 243);
  border-radius: 50%;
}

.snow{
    grid-column: 19/31;
    grid-row: 1/31;
    display: grid;
    grid-template-columns: repeat(30, 1fr);
    grid-template-rows: repeat(30, 1fr);
}

